<%- include('./../../partials/_header.ejs') %>

<div class="container">
    <h2 class="display-3 text-center">
        Welcome to our Dashboard
    </h2>
</div>

<%- include('./../../partials/_footer.ejs') %> 