<%- include('./../partials/_header.ejs') %>

<div class="container">
    <div class="jumbotron">
        <h2 class="display-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus illo ex consequuntur hic sed unde perspiciatis cum aperiam suscipit ullam consectetur provident, laborum asperiores natus, sequi repellat odit exercitationem!</p>
    </div>
</div>

<%- include('./../partials/_footer.ejs') %> 